<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <import resource="classpath:org/codehaus/xfire/spring/xfire.xml"/>

    <bean name="newsService" class="org.codehaus.xfire.spring.ServiceBean">
        <property name="serviceBean" ref="newsWebService"/>
        <property name="serviceClass" value="com.foxconn.cic.service.NewsWebService"/>
        <property name="inHandlers">
            <list>   
            	<ref bean="domInHandler"/>
                <ref bean="wss4jHandler"/>
                <ref bean="validateUserTokenHandler"/>
            </list>
        </property>
    </bean>
    
    <bean name="priceService" class="org.codehaus.xfire.spring.ServiceBean">
        <property name="serviceBean" ref="priceWebService"/>
        <property name="serviceClass" value="com.foxconn.cic.service.PriceWebService"/>
        <property name="inHandlers">
            <list>
                <ref bean="domInHandler"/>
                <ref bean="wss4jHandler"/>
                <ref bean="validateUserTokenHandler"/>
            </list>
        </property>
    </bean>

 	<bean name="exchangeRateService" class="org.codehaus.xfire.spring.ServiceBean">
        <property name="serviceBean" ref="exchangeRateWebService"/>
        <property name="serviceClass" value="com.foxconn.cic.service.ExchangeRateWebService"/>
        <property name="inHandlers">
            <list>
                <ref bean="domInHandler"/>
                <ref bean="wss4jHandler"/>
                <ref bean="validateUserTokenHandler"/>
            </list>
        </property>
    </bean>
    
    <bean name="interestRateService" class="org.codehaus.xfire.spring.ServiceBean">
        <property name="serviceBean" ref="interestRateWebService"/>
        <property name="serviceClass" value="com.foxconn.cic.service.InterestRateWebService"/>
        <property name="inHandlers">
            <list>
                <ref bean="domInHandler"/>
                <ref bean="wss4jHandler"/>
                <ref bean="validateUserTokenHandler"/>
            </list>
        </property>
    </bean>
    <bean id="addressingHandler" class="org.codehaus.xfire.addressing.AddressingInHandler"/>
    <bean id="domInHandler" class="org.codehaus.xfire.util.dom.DOMInHandler"></bean>
    <bean id="wss4jHandler" class="org.codehaus.xfire.security.wss4j.WSS4JInHandler">
    	<property name="properties">
    		<map>
    			<entry key="action" value="UsernameToken Timestamp"/>
    			<entry key="passwordCallbackRef" value-ref="passwordHandler"/>
    		</map>
    	</property>
    </bean>
     <bean id="passwordHandler" class="com.foxconn.cic.service.impl.PasswordHandler">
     	<property name="userManager" ref="userManager"/>
     </bean>
    <bean id="validateUserTokenHandler" class="com.foxconn.cic.service.impl.ValidateUserTokenHandler"/>
    
</beans>
