html,body{margin:0;padding:0}
p{margin-top:0}
h1,h2,h3{font: normal normal 200% "Trebuchet MS",Arial,sans-serif}
h2{font-size:160%}
h3{font-size:120%}
hr{display:none}

div#page{width:770px; margin: 0 auto;padding:0pt 0pt 5px 0px;;text-align:left;background:#FFF}

div#header{width:100%;overflow:hidden;background: #595D66}
div#branding h1{width:770px;margin:0 auto;text-align:left}
div#branding h1{padding:10px 10px 10px;color: #FFF}
div#branding h1 a{color:#FFF}
div#switchLocale {position: absolute;right: 10px;top: 10px}

div#content{width:770px;margin:0px auto 10px;padding:0px 0 10px;text-align:left;background:#FFF}

div#nav{width:770px;margin:0 auto;text-align:left;background: #595D66;overflow:hidden;}
div#nav h2{display:none}

ul#primary-nav,ul#primary-nav li{list-style-type:none;margin:0;padding:0}
ul#primary-nav{float:right;font-size: 11px}
ul#primary-nav li{float:left;margin-left: 3px;text-align: center}
ul#primary-nav a{float:left;width: 95px;padding: 5px 0;background: #369A3D;text-decoration:none;color: #FFC}
ul#primary-nav a:hover{background: #CDFFA1;color: #006A35}
ul#primary-nav a.current,ul#primary-nav a.current:hover{background: #FFF;color: #003}

div#main{width:560px;float:left;display:inline;margin:0 0 10px 10px;padding:10px 0 10px;}

p#summary{background:#EEEEEE;padding:10px;margin-top:10px;}
p#info{background:#DAE6FE;padding:10px;margin-left:4em;}
ul#intro,ul#intro li{list-style-type:none;margin:0;padding:0}
ul#intro{width:100%;overflow:hidden;margin-bottom:20px}
ul#intro li{float:left;width:180px;margin-right:10px;padding: 10px 0}
li#mission{background: #E65714}
li#services{background: #42B4AC}
ul#intro li#more{margin-right:0;background: #7D63A9}
ul#intro p,ul#intro h3{margin:0;padding: 0 10px}
ul#intro h3{text-transform:uppercase;padding-bottom:3px;color: #FFF}

div#main h2{margin: 10px 0;color: #007BC4}
div.date{float:left;width: 4em;padding: 5px 0;background: #F1DDC4;color:#B0001E;
    text-align:center;margin: 0 4px 4px 0;font-size: 80%;line-height:0.9}
div.date span{display:block;font-size: 150%;font-weight:bold}

div.comments div{background: #EEE;margin-bottom:10px}
div.comments p{padding: 10px;margin:0}
div.comments div.odd{background:#DAE6FE}

div#sub{float:right;display:inline;width:150px; margin:10px 10px 10px 0;}
div#sub p{margin:5px 0 10px;padding: 0 10px}
div#sub div{margin: 0 0 10px;padding: 10px 0}
div#sub ul{background:#C5E6F6;width:134px;margin:0 10px 10px 0;padding:5px 8px 15px;list-style-type: none;}
div#sub h2{background:#C8C866;font: 100% Verdana,sans-serif;width:150px;text-transform:uppercase;margin:0px;padding: 5px 0 3px;text-align:center;color: #000}

div#footer{clear:both;width:750px;margin:0 10px 0;padding: 10px 0;background: #586695;color: #FFF;text-align:center;font-size: 80%}
div#footer p{margin:0}

.autocompleter
{
	border: 1px solid #6FBEFF;
	width: 300px;
	background-color: #EFF8FF;
}
.autocompleter ul li
{
	padding: 2px 10px;
	white-space: nowrap;
	font-size: 11px;
}
.selectAutocompleter
{
	background-color: #d2fb8f;
}

#loginForm fieldset {
    width: 300px;
    padding: 10px 10px;
    margin: 0;
} 

        ul#primary-nav li {
            position: relative;
            list-style: none;
        }

           

       

            ul#primary-nav ul {
                position: absolute;
                display: none;
                left: 0px; /* Set 1px less than menu width */
                top: 22px;
            }

                ul#primary-nav ul li {
                    border: 1px solid silver;
                    border-bottom: 0;
                    font-size: 1em;
                }
                                       
                ul#primary-nav ul li.last {
                        border-bottom: 1px solid silver;
                        border-right: 1px solid silver;
                    }

                        ul#primary-nav li ul li a {padding: 3px 5px; text-align: left; width: 83px } /* Sub Menu Styles */

                        ul#primary-nav li:hover ul ul,
                        ul#primary-nav li:hover ul ul ul,
                        ul#primary-nav li.over ul ul,
                        ul#primary-nav li.over ul ul ul { display: none; } /* Hide sub-menus initially */

                        ul#primary-nav li:hover ul,
                        ul#primary-nav li li:hover ul,
                        ul#primary-nav li li li:hover ul,
                        ul#primary-nav li.over ul,
                        ul#primary-nav li li.over ul,
                        ul#primary-nav li li li.over ul { display: block; } /* The magic */

                        

                        ul#primary-nav li:hover,
                        ul#primary-nav li.over { background-color: #fff }

                        ul#primary-nav li a:hover { color: #E2144A; }
/* END DROP DOWN MENUS */
