
body {
	margin:0 auto;
	background-color:#fff;
	color:#000;
	font-size: 12px;
	line-height: 28px;
	text-align: center;
}

td{

	font-size: 12px;
}


#head {
	position:relative;
	top:0px;
	width:1000px;
	height:89px;
	
	background-image: url(../image/head_bg.gif);
}

#head1 {
	width:288px;
	height:89px;
	
	float: left;
}
.head2 {
	left:298px;
	width:697px;
	height:26px;
	
	margin-top: 63px;
	float: right;
}

.anliu {padding-left:5px; padding-right:5px} 
.head2 li {
	float:left;
	margin-left:5px;
	margin-right:5px;
	height: 26px;
	width: 67px;
	background-image: url(../image/anl.gif);
	line-height: 26px;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
} 



#danh {
	position:relative;
	width:1000px;
	height:28px;
	
	background-image: url(../image/daoh_bg.gif);
}



#daohr1c1 {
	width:263px;
	height:20px;
	
	float: left;
	font-size: 12px;
	line-height: 20px;
	text-decoration: none;
	margin-left: 10px;
	margin-top: 5px;
	text-align: left;
}
#daohr1c3 {
	width:165px;
	height:20px;
	
	float: right;
	font-size: 12px;
	line-height: 20px;
	margin-top: 5px;
}


#nei {
	position:relative;
	left:0px;
	width:1000px;
	height: 100%;
	
    top: 0px;
   
}

#main {padding-bottom: 31px;min-width:960px;}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}

#nei1 {
	width:212px;  
	padding-bottom: 31px;     
	
	float: left;
	height:auto; min-height:100%;
	background-color: #EEEEEE;
}
#nei2 {
	width:783px;
	
	padding-bottom: 31px; 
	float: right;
	padding-top: 10px;
	font-size: 12px;
	height:auto; min-height:100%;
 z-index:-2;
        background-image: url('../image/nei_bg.gif');


}

#left1 {
	width:203px;
	height:30px;
	
	text-align: center;
	margin-left: 5px;
	margin-top: 10px;
	background-image: url(../image/left_1.gif);
	font-size: 12px;
	vertical-align: baseline;
	line-height:30px; 
}
#left2 {
	width:203px;
	height:80px;
	
	margin-left: 5px;
	margin-top: 10px;
	background-image: url(../image/left_2.gif);
}

#jishu {
	width:177px;
	height:43px;
	
	margin-top: 10px;
	margin-left: 10px;
	font-size: 12px;
}

#foot {
	position:relative;
	left:0px;
	width:1000px;
	height:31px;
	margin-top: -31px;
	
	background-image: url(../image/foot_bg.gif);
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 31px;
}
