/* A CSS Framework by Mike Stenhouse of Content with Style */

/* NAV BAR AT THE TOP AND ONE COLUMN OF CONTENT */

    div#main {
        width: 720px;
        text-align: left;
        border-right: 0;   
        margin-bottom: 5px;
        border-left: 0px;
		border-right: 0px;
    }
        div#main h1 {
            width: 100%;
        }
        div#main p {
            margin-top: 10px;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        div#main fieldset, div#main p {
            margin-left: 25px;
            text-align: left;
        }
/* END CONTENT */
