<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>com/foxconn/cic/model/Role.hbm.xml</value>
                <value>com/foxconn/cic/model/User.hbm.xml</value>
                <value>com/foxconn/cic/model/Keyword.hbm.xml</value>
                <value>com/foxconn/cic/model/Catalog.hbm.xml</value>
                <value>com/foxconn/cic/model/CatalogType.hbm.xml</value>
                <value>com/foxconn/cic/model/News.hbm.xml</value>
                <value>com/foxconn/cic/model/NewsImage.hbm.xml</value>
                <value>com/foxconn/cic/model/Website.hbm.xml</value>
                <value>com/foxconn/cic/model/Quoter.hbm.xml</value>
                <value>com/foxconn/cic/model/Material.hbm.xml</value>
                <value>com/foxconn/cic/model/Price.hbm.xml</value>
                <value>com/foxconn/cic/model/ExchangeRate.hbm.xml</value>
                <value>com/foxconn/cic/model/InterestRate.hbm.xml</value>
                <value>com/foxconn/cic/model/UserActivityLog.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
            	<prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.dialect">@HIBERNATE-DIALECT@</prop>
                <prop key="hibernate.query.substitutions">true 'Y', false 'N'</prop>
                <!-- Create/update the database tables automatically when the JVM starts up
                <prop key="hibernate.hbm2ddl.auto">update</prop> -->
                <!-- Turn batching off for better error messages under PostgreSQL 
                <prop key="hibernate.jdbc.batch_size">0</prop> -->
            </props>
        </property>
    </bean>

    <!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Generic Dao - can be used when doing standard CRUD -->
    <bean id="dao" class="com.foxconn.cic.dao.hibernate.BaseDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- LookupDao: Hibernate implementation -->
    <bean id="lookupDao" class="com.foxconn.cic.dao.hibernate.LookupDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- UserDao: Hibernate implementation -->
    <bean id="userDao" class="com.foxconn.cic.dao.hibernate.UserDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- RoleDao: Hibernate implementation -->
    <bean id="roleDao" class="com.foxconn.cic.dao.hibernate.RoleDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Add new Daos here -->

    
    
    
    
    
    
    <!--Keyword-START-->
    <bean id="keywordDao" class="com.foxconn.cic.dao.hibernate.KeywordDaoHibernate" autowire="byName"/>
    <!--Keyword-END-->
    
    <!--Catalog-START-->
    <bean id="catalogDao" class="com.foxconn.cic.dao.hibernate.CatalogDaoHibernate" autowire="byName"/>
    <!--Catalog-END-->
    <!--CatalogType-START-->
    <bean id="catalogTypeDao" class="com.foxconn.cic.dao.hibernate.CatalogTypeDaoHibernate" autowire="byName"/>
    <!--CatalogType-END-->
    <!--News-START-->
    <bean id="newsDao" class="com.foxconn.cic.dao.hibernate.NewsDaoHibernate" autowire="byName"/>
    <!--News-END-->
    <!--Website-START-->
    <bean id="websiteDao" class="com.foxconn.cic.dao.hibernate.WebsiteDaoHibernate" autowire="byName"/>
    <!--Website-END-->
    <!--NewsImage-START-->
    <bean id="newsImageDao" class="com.foxconn.cic.dao.hibernate.NewsImageDaoHibernate" autowire="byName"/>
    <!--NewsImage-END-->
    <!--Material-START-->
    <bean id="materialDao" class="com.foxconn.cic.dao.hibernate.MaterialDaoHibernate" autowire="byName"/>
    <!--Material-END-->
    <!--Price-START-->
    <bean id="priceDao" class="com.foxconn.cic.dao.hibernate.PriceDaoHibernate" autowire="byName"/>
    <!--Price-END-->
    <!--ExchangeRate-START-->
    <bean id="exchangeRateDao" class="com.foxconn.cic.dao.hibernate.ExchangeRateDaoHibernate" autowire="byName"/>
    <!--ExchangeRate-END-->
    <!--InterestRate-START-->
    <bean id="interestRateDao" class="com.foxconn.cic.dao.hibernate.InterestRateDaoHibernate" autowire="byName"/>
    <!--InterestRate-END-->
    
    
    
    
    <!--UserActivityLog-START-->
    <bean id="userActivityLogDao" class="com.foxconn.cic.dao.hibernate.UserActivityLogDaoHibernate" autowire="byName"/>
    <!--UserActivityLog-END-->
    
    
    <!--Quoter-START-->
    <bean id="quoterDao" class="com.foxconn.cic.dao.hibernate.QuoterDaoHibernate" autowire="byName"/>
    <!--Quoter-END-->
</beans>
